body {
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;
    margin: 0 auto;
    padding: 0 3vw;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    background-color: #dddddd;
    color: #333333;
    border-top: 1px solid #333333;
    margin-top: 3vh;
    padding: 1vh 0;
}

header {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h1 {
    font-size: 5vw;
}

header a {
    color: #888888;
    text-decoration: none;
    margin-right: 1vw;
    font-size: 2vw;
}

.portrait {
    width: 20vw;
}

input {
    border: 1px solid #dddddd;
    padding: 1vw;
}

input:focus {
    outline-color: tomato;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 1vw;
}

button:hover {
    background: #555555;
}